################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cowsNbulls_server/.vs/cowsNbulls_server/v16
/cowsNbulls_server/cowsNbulls_server.sln
/cowsNbulls_server/.vs/cowsNbulls/v16
/cowsNbulls_client/cowsNbulls_client/obj/Debug
/cowsNbulls_server/cowsNbulls/Debug
/cowsNbulls_server/Debug
/test_client/obj/Debug
/cowsNbulls_client/cowsNbulls_client/bin/Debug
/test_client/bin/Debug
/test_server/Debug
/cowsNbulls_client/cowsNbulls_client/bin/Release
/cowsNbulls_client/cowsNbulls_client/obj/Release
/cowsNbulls_server/cowsNbulls/Release
/test_client/bin/Release
/test_client/obj/Release
