################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cowsNbulls_server/.vs/cowsNbulls_server/v16
